server:
  port: 8081

spring:
  application:
    name: product-service
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    url: jdbc:mysql://localhost:3307/product_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  cloud:
    discovery:
      enabled: false
    openfeign:
      client:
        config:
          default:
            connect-timeout: 10000
            read-timeout: 60000

springdoc:
  servers:
    - url: http://localhost:8080
      description: API Gateway

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

eureka:
  client:
    enabled: false
